<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Axiom" version="0.8.3376.12322" targetFramework="net45" />
  <package id="Axiom.Framework" version="0.8.3376.12322" targetFramework="net45" />
  <package id="Axiom.Platforms.Win32" version="0.8.3376.12322" targetFramework="net45" />
  <package id="Axiom.Plugins.ParticleFX" version="0.8.3376.12322" targetFramework="net45" />
  <package id="Axiom.RenderSystems.DirectX9" version="0.8.3376.12322" targetFramework="net45" />
  <package id="SlimDX" version="4.0.13.43" targetFramework="net45" />
</packages>